@use "colors.scss";
@use "mixins.scss";
@use "variables.scss";

* {
  padding: 0;
  margin: 0;
  font-family: variables.$font-family;
}
main {
  min-height: 700px;
}
.navbarlayout-container {
  position: relative;
}

.blog-container {
  width: 100vw;
}
//Blog
.blog-content {
  padding-top: 50px;
  max-width: 80%;
  margin: auto;
}
.blog-buttons {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  .btn:hover {
    background: rgba(12, 41, 168, 0.459);
  }
}

.button-showpost {
  display: flex;
  gap: 30px;
  .btnActive {
    background-color: colors.$button-active-color;
    border: none;
    color: colors.$default-color;
    border-radius: 30px;
    cursor: pointer;
    padding: 15px 25px;
  }

  .btnDefault {
    background-color: colors.$default-color;
    border: 1px solid colors.$button-active-color;
    color: colors.$button-active-color;
    border-radius: 30px;
    cursor: pointer;
    padding: 15px 25px;
  }
}
.btnDefault {
  border: 1px solid colors.$button-active-color;
  color: colors.$button-active-color;
  padding: 15px 25px;
  border-radius: 10px;
  cursor: pointer;
}
.addPost-mobile {
  display: none;
}

@media only screen and (max-width: 480px) {
  .blog-content {
    padding-top: 50px;
    max-width: 90%;
    margin: auto;
  }
  .button-showpost {
    display: flex;
    gap: 10px;
    .btnActive {
      background-color: colors.$button-active-color;
      border: none;
      color: colors.$default-color;
      border-radius: 30px;
      cursor: pointer;
      padding: 1rem 20px;
    }

    .btnDefault {
      background-color: colors.$default-color;
      border: 1px solid colors.$button-active-color;
      color: colors.$button-active-color;
      border-radius: 30px;
      cursor: pointer;
      padding: 1rem 20px;
    }
  }
  .button-action {
    .btnDefault {
      display: none;
    }
    .addPost-mobile {
      display: inline;
      border: 1px solid colors.$button-active-color;
      border-radius: 30px;
      padding: 10px 13px;
    }
  }
}
/**BLOG POST BODY */
.blog-post {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.blog-post-container {
  height: 300px;
  width: 320px;
  position: relative;
  margin-bottom: 50px;
  img {
    height: 100%;
    width: 100%;
  }
}
.blog-post-container-cardInfo {
  position: absolute;
  bottom: 0;
  background-color: colors.$default-color;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.blog-post-container-description {
  max-width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 5px;
  padding: 10px 0px;

  p {
    font-size: 14px;
  }
  hr {
    border: 0;
    border-top: 1px solid rgb(255, 255, 255);
    opacity: 0.6;
    max-width: 80%;
  }
}
.blog-post-container-comment-section {
  display: flex;
  font-size: variables.$blog-element-container-font-size;
  justify-content: space-between;
  .blog-post-container-commentlogo {
    opacity: 0.6;
  }
}
.blog-post-container-description-title {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px 0;
}
.date {
  display: flex;
  gap: 10px;
  p {
    font-size: variables.$blog-element-container-font-size;
    opacity: 0.6;
  }
}
.blog-post-container-commentlogo {
  display: flex;
  justify-content: space-between;
  width: 70px;
  .like-section,
  .comment-section {
    display: flex;
    justify-content: space-between;
    width: 30px;
  }
}
