@use "colors.scss";
@use "mixins.scss";
@use "variables.scss";

* {
  padding: 0;
  margin: 0;
  font-family: variables.$font-family;
}
main {
  min-height: 700px;
}
.navbarlayout-container {
  position: relative;
}

.blog-container {
  width: 100vw;
}
//Blog
.blog-content {
  padding-top: 50px;
  max-width: 80%;
  margin: auto;
}
.blog-buttons {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  .btn:hover {
    background: rgba(12, 41, 168, 0.459);
  }
}

.button-showpost {
  display: flex;
  gap: 30px;
  .btnActive {
    background-color: colors.$button-active-color;
    border: none;
    color: colors.$default-color;
    border-radius: 30px;
    cursor: pointer;
    padding: 15px 25px;
  }

  .btnDefault {
    background-color: colors.$default-color;
    border: 1px solid colors.$button-active-color;
    color: colors.$button-active-color;
    border-radius: 30px;
    cursor: pointer;
    padding: 15px 25px;
  }
}
.btnDefault {
  border: 1px solid colors.$button-active-color;
  color: colors.$button-active-color;
  padding: 15px 25px;
  border-radius: 10px;
  cursor: pointer;
}
.addPost-mobile {
  display: none;
}

@media only screen and (max-width: 480px) {
  .blog-content {
    padding-top: 50px;
    max-width: 90%;
    margin: auto;
  }
  .button-showpost {
    display: flex;
    gap: 10px;
    .btnActive {
      background-color: colors.$button-active-color;
      border: none;
      color: colors.$default-color;
      border-radius: 30px;
      cursor: pointer;
      padding: 1rem 20px;
    }

    .btnDefault {
      background-color: colors.$default-color;
      border: 1px solid colors.$button-active-color;
      color: colors.$button-active-color;
      border-radius: 30px;
      cursor: pointer;
      padding: 1rem 20px;
    }
  }
  .button-action {
    .btnDefault {
      display: none;
    }
    .addPost-mobile {
      display: inline;
      border: 1px solid colors.$button-active-color;
      border-radius: 30px;
      padding: 10px 13px;
    }
  }
}

/**BLOG POST BODY */
.blog-post {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin: 0px auto;
  max-width: 80%;
}
.text-wrap {
  font-size: variables.$blog-sub-title-font-size;
  padding-top: 10px;
}

.blog-post-container {
  height: 400px;
  width: 350px;
  position: relative;
  margin-bottom: 30px;
  img {
    height: 100%;
    width: 100%;
  }
  .blog-post-container-image {
    height: 200px;
    width: 100%;
  }
  .blog-post-container-cardInfo {
    position: absolute;
    height: 200px;
    width: 320px;
    bottom: 0;
    background-color: colors.$default-color;
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 90%;
    margin: auto;
  }
}
.blog-post-container-description-title {
  gap: 5px;
}
hr {
  border: 0;
  border-top: 1px solid rgba(167, 162, 162, 0.377);
}

.blog-post-container-description {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: 15px auto;
  flex-wrap: wrap;
  gap: 10px;
}
.blog-post-container-comment-section {
  height: 15px;
}
.blog-post-container-comment-section,
.date,
.blog-post-container-commentlogo,
.comment-section,
.like-section {
  display: flex;
  justify-content: space-between;
}
.date {
  gap: 15px;
}
.date p {
  font-size: variables.$blog-element-container-font-size;
}
.blog-post-container-commentlogo {
  width: 80px;
}
.comment-section,
.like-section {
  width: 30px;
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
  gap: 5px;
  svg {
    padding-bottom: 5px;
  }
}

.comment-section span,
.like-section span {
  font-size: variables.$blog-element-container-font-size;
  align-content: center;
}
